<h3 style="color:#E8E8F1;background-color: #0E0BC2"><b>Terms & Conditions</b></h3>
<ul style="width: 100%;
height: 100%;
background-color: #AAB3FF;">
<li><b>Keep booking ID safe.Don't share</b></li>
<li><b>Each bus is plying only once in a day</b></li>
<li><b>Lugage weight should be maximum of 10kg</li>
<li><b>Payment should be made at the time of boarding</li>
<li><b>Seating arrangement is based on first come first serve basis</li>
<li><b></b>Be on time</li>
</ul>